<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IService1" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:50429/Service1.svc" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IService1" contract="ServiceReference1.IService1"
                name="BasicHttpBinding_IService1" />
        </client>
    </system.serviceModel>
 <connectionStrings><add name="OnBreakEntities" connectionString="metadata=res://*/OnBreak.csdl|res://*/OnBreak.ssdl|res://*/OnBreak.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=PTOLEMAIOS;initial catalog=OnBreak;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>